#middle{
	width: 96%;
	height: 42%;
	margin: 20px auto;
}

#middle_left{
	width: 30%;
	float: left;
	margin: 10px auto;
	height: 42%;
}
#middle_left p{
	padding: 4px;
	font-size: 13px;
	color: #555555;
}
#middle_left a{
	text-decoration: none;
	color: blue;
	font-size: 12px;
}
#middle_left .time{
	float: right;
	margin-top: -15px;
}

#middle_rigth{
	width: 65%;
	float: right;
	height: 42%;
	margin: 10px auto;
	/* background-color: red; */
}
#middle_rigth p{
	padding: 0px;
	font-size: 18px;
	line-height: 18px;
	color: black;
}
#middle_rigth h1,h2,h3,h4,h5{
	color: red;
	font-size: 25px;
	
}